html, body, #__nuxt {
    height: 100%;
}
.safe-content {
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
}

.content-container {
    @apply px-5 sm:px-6 lg:px-10 lg:max-w-[1480px] mx-auto w-full;
}